    {extend name="admin@public/poupbase"/}

    <!-- CONTENT -->
    {block name="body"}
        <div id="content" style="margin:0px 10px 5px 8px;">
            <div class="bloc" style="margin:10px 0px 0px;">
                <div class="content">
                    <form id="myform" method="post" style="margin-top:5px;" class="" >
                        <fieldset>
                            <legend>{$meta_title|default=''}</legend>
                            <div class="row">
                                <label for="username" class="w100">{:lang('Account')}:</span></label>
                                <div style="height: 32px; line-height: 25px;">{$data['nickname']}</div>
                            </div>
                            <div class="row">
                                <label for="reg_ip" class="w100">{:lang('Reg_ip')}: </label>
                                <div style="height: 32px; line-height: 25px;">{$data['reg_ip']|long2ip=###}</div>
                               
                            </div>
                            <div class="row">
                                <label for="login" class="w100">{:lang('Login_num')}: </label>
                                <div style="height: 32px; line-height: 25px;">{$data['login']}</div>
                               
                            </div>
                            <div class="row">
                                <label for="tag_id" class="w100">{:lang('Tag')}: </label>
                                <div style="height: 32px; line-height: 25px;">{$data['tag_id']}</div>
                                
                            </div>
                            <div class="row">
                                <label for="agent_id" class="w100">{:lang('Agent')}: </label>
                                <div style="height: 32px; line-height: 25px;">{$data['agent_id']}</div>
                               
                            </div>
                            <div class="row">
                                <label for="idcard" class="w100">{:lang('Idcard')}:</label>
                                <div style="height: 32px; line-height: 25px;">{$data['idcard']}</div>
                                
                            </div>
                            <div class="row">
                                <label for="money" class="w100">{:lang('Money')}: </label>
                                <div style="height: 32px; line-height: 25px;">{$data['money']}</div>
                                
                            </div>
                            <div class="row">
                                <label for="pidcard" class="w100">{:lang('Pidcard')}:</span></label>
                                <div style="height: 32px; line-height: 25px;">{$data['nickname']}</div>
                               
                            </div>
                            <div class="row">
                                <label for="score" class="w100">{:lang('Score')}: </label>
                                <div style="height: 32px; line-height: 25px;">{$data['score']}</div>
                            </div>
                            <div class="buttons-wrapper bw-bottom" style="margin:10px auto 2px; text-align:center;">
                                <input name="reset" class="button white" value="{:lang('Back')}" type="reset">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {/block}
    
    {block name="js"}
        <script type="text/javascript" src="__PUBLIC__/admin/js/autosize.js"></script>
        <script>
            $(function(){
                $(".bset").buttonset();
            })
        </script>
    {/block}
