	{extend name="admin@public/base"/}
                
    <!-- CONTENT --> 
    {block name="body"}
    <div id="content">
    	<div class="breadcrumbs">
            {:lang('Contents')} : &nbsp;&nbsp; {:lang('Areasys')} &nbsp;/&nbsp; <span>{$meta_title|default=''}</span>
    	</div>

        <div class="bloc">
            <div class="title">
                <div class="tabs" id="navs">
                    {include file="admin@public/navs" /}
                </div>

                {include file="admin@public/lang" /}
            </div>
            <div class="content">
                
                <dl class="gzzt clearfix mtb10">
                <dd>
                    <div class="boxr">
                        {include file="admin@public/button" /}
                    </div>
                </dd>
    
                <form style="margin-top:0;" class="search-form">
                    
        
                    <dd>
                        <div class="boxr ovh">
                            <label for="name" style="margin:10px 10px 0 0; width:180px;">
                                <input type="text" class="searchinput" name="name" id="name"
                                       value="{:input('name')}" placeholder="{:lang('Search_currency')}"
                                       style="width:150px;"/>
                            </label>
                            <input type="button" name="search" id="sch-search" class="button white"
                                   value="{:lang('Search')}" url="{:url('', ['name'=> input('name')])}"/>
                        </div>
                    <dd>
    
                    <dd>
                        <div class="boxr ovh">
                            <span>{:lang('Count_all')}：<b>{$_total}</b></span>
                        </div>
                    </dd>
                    
                </form><dd style="float: right !important;">
                    <div class="boxl">
                        <span>
                            <a href="javascript:location.reload();" class="refresh tooltip-link" title="{:lang('Refresh')}">
                                <em>{:lang('Refresh')}</em>
                            </a>
                        </span>
                        <span>
                            <a href="javascript:void(0);" class="ajax-get setting tooltip-link colum" title="{:lang('Showlum')}" data-title="{:lang('Showlum')}">
                                <em>{:lang('Showlum')}</em>
                            </a>
                        </span>
                    </div>
                </dd>
            </dl>
            
            {notempty name="list"}
            <table class="table">
                <thead>
                <tr>
                    <th class="center" width="30"><input class="check-all" type="checkbox"></th>
                    <th class="left" style="width:35px;">ID</th>
                    <th class="left"style="width:100px;"><a href="{:getUrlbyOrder('name')}">{:lang('Currency_Name')}</a></th>
                    <th class="left"style="width:100px;"><a href="{:getUrlbyOrder('')}">{:lang('Currency_englishname')}</a></th>
                    <th class="center" style="width:90px;"><a href="{:getUrlbyOrder('')}">{:lang('Currency_Symbol')}</a></th>
                    <th class="left" style="width:100px;"><a href="{:getUrlbyOrder('')}">{:lang('Symbol_Place')}</a></th>
                    <th class="center" style="width:60px;"><a href="{:getUrlbyOrder('')}">{:lang('Currency_Code')}</a></th>
        
                    <th class="center" style="width:80px;"><a href="{:getUrlbyOrder('')}">{:lang('Rate')}</a></th>
                    <th class="center" style="width:40px;"><a href="{:getUrlbyOrder('')}">{:lang('Is_default')}</a></th>
                    <th class="center" style="width:40px;"><a href="{:getUrlbyOrder('status')}">{:lang('Status')}</a></th>
                    <th class="center" style="width:40px;"><a href="{:getUrlbyOrder('sort')}">{:lang('Sort')}</a></th>
                    <th class="actions" style="width: 30px;">{:lang('Actions')}</th>
                </tr>
                </thead>
                
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td class="center">
                        <input class="ids" type="checkbox" value="{$vo['id']}" name="ids[]">
                    </td>
                    <td class="left">{$vo['id']}</td>
                    <td class="left">{$vo['langstr']}</td>
                    <td class="left">{$vo['name']}</td>
                    <td class="center">{$vo['symbol']}</td>
                    <td class="left">
                        {eq name="vo.place" value="1"}
                        Before({$vo['symbol']}{$vo['place_n']})
                        {else /}
                        After({$vo['symbol']}{$vo['place_n']})
                        {/eq}
                    </td>
                    <td class="center">{$vo['code']}</td>
                    <td class="center">{$vo['rate']}</td>
                    <td class='center'>
                        {eq name="vo.isdefault" value="1"}
                        <a href="{:url('disable', ['pk'=>'isdefault','ids'=>$vo['id']])}" class="ajax-able" data-doing="{:lang('Not_Allow_publish')}" data-enable-span="{:lang('Yes')}" data-disable-span="{:lang('No')}">
                            <span class="badge-green">{:lang('Yes')}</span>
                        </a>
                        {else /}
                        <a href="{:url('enable', ['pk'=>'isdefault','ids'=>$vo['id']])}" class="ajax-able" data-doing="{:lang('Allow_publish')}" data-enable-span="{:lang('Yes')}" data-disable-span="{:lang('No')}">
                            <span class="badge-gray">{:lang('No')}</span>
                        </a>
                        {/eq}
                    </td>
                    <td class="center">
                        {if condition="$vo['status'] eq 1"}
                        <a href="{:url('disable',array('ids'=>$vo['id']))}" class="ajax-able" data-doing="{:lang('Disable')}">
                            <img src="__PUBLIC__/admin/images/enabled.png" title="{:lang('Enable')}" class="tooltip-link" alt="{:lang('Enable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                        </a>
                        {else /}
                        <a href="{:url('enable',array('ids'=>$vo['id']))}" class="ajax-able" data-doing="{:lang('Enable')}">
                            <img src="__PUBLIC__/admin/images/disabled.png" title="{:lang('Disable')}" class="tooltip-link" alt="{:lang('Disable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                        </a>
                        {/if}
                    </td>
                    <td class="center"><input name="sorts[{$vo.id}]" type="text" value="{$vo.sort}" maxlength="5" class="center sorts"></td>
                    <td class="actions">
                        <a class="tooltip-link ajax-get confirm edit" title="{:lang('Delete_this_record')}" data-layer="{:lang('Want_delete')}" href="{:url('delete',array('ids'=>$vo['id']))}" data-title="{:lang('Delete')}">
                            <img src="__PUBLIC__/admin/images/delete.png" alt="{:lang('Delete')}" />
                        </a>
                    </td>
                </tr>
                </tr>
                {/volist}
                </tbody>
            </table>
                <div class="pagination-wrapper">
                    <div class="results-part"><span>{$_total}</span></div>
                    <div class="links-part">{$page}</div>
                </div>
            
            {else/}
               <div class="alert alert-warning">{:lang('No_record')}</div>
            {/notempty}
            
            </div>
        </div>
    </div>
    {/block}