.ok-icon { background:url('../image/ok.png') 10px 7px no-repeat; text-indent:18px; }
.fail-icon { background:url('../image/fail.png') 10px 7px no-repeat; text-indent:18px; }
.after-icon { background:url('../image/after.png') 10px 7px no-repeat; text-indent:18px; }