    {extend name="admin@public/poupbase"/}
    
    <!-- CONTENT -->
    {block name="body"}
        <div id="content" style="margin:0px 10px 5px 8px;">
            <div class="bloc" style="margin:10px 0px 0px;">
                <div class="content">
                    <form id="myform" method="post" style="margin-top:5px;" class="">
                        <fieldset>
                            <legend>{$meta_title|default=''}</legend>
                            <div class="row">
                                <div style="float:left;">
                                    <label for="status" class="w120">{:lang('Status_liceson')}:</label>
                                    <div class="slideBox">
                                        {eq name="ACTION_NAME" value="edit"}
                                            <input id="status" value="1" type="checkbox" name="status"  {eq name="data['status']" value="1"}checked{/eq}/>
                                        {else /}
                                            <input id="status" value="1" type="checkbox" name="status" checked />
                                        {/eq}
                                        <label for="status"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div style="float:left;">
                                    <label for="status" class="w120">{:lang('Product_type')}:</label>
                                    <select name="product_type" id="product_type" class="w200" >
                                        <option>{:lang('Please_choose')}</option>
                                        {volist name="$product_type" id="ve"}
                                        <option value="{$key}" {eq name="key" value="$data.product_type"}selected{/eq}>
                                        {:lang($ve)}
                                        </option>
                                        {/volist}
                                    </select>
                                </div>
        
                                <div style="float:left;">
                                    <label for="version_type" class="w120" >{:lang('Version_type')}: </label>
                                    <select name="version_type" id="version_type" style="width:168px;">
                                        <option>{:lang('Please_choose')}</option>
                                        {volist name="version_type" id="ve"}
                                        <option value="{$key}" {eq name="key" value="$data.version_type"}selected{/eq}>
                                        {:lang($ve)}
                                        </option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div style="float:left;">
                                    <label for="type" class="w120">{:lang('Type_liceson')}: </label>
                                    <select name="type" id="type" class="w200">
                                        <option>{:lang('Please_choose')}</option>
                                        {volist name="liceson_type" id="op"}
                                            <option value="{$key}" {eq name="key" value="$data.type"}selected{/eq}>
                                            {:lang($op)}
                                            </option>
                                        {/volist}
                                    </select>
                                </div>
                                
                                <div style="float:left">
                                    <label for="version" class="w120" >{:lang('Version_num')}: </label>
                                    <input type="text" id="version" name="version" value="{$data.version}" style="width:158px;" placeholder="1.0.0.000000" />
                                </div>
                            </div>
                            
                            <div class="row">
                                <div style="float:left;">
                                    <label for="title" class="w120">{:lang('Title_liceson')}: <span class="required">*</span></label>
                                    <input  id="title" type="text" value="{$data.title}" maxlength="50" name="title" style="width:190px;"  />
                                </div>
                                
                                <div style="float:left;">
                                    <label for="code" class="w120">{:lang('Code_liceson')}: <span class="required">*</span></label>
                                    <input  id="code" type="text" value="{$data.code}" name="code" style="width:158px;" />
                                </div>
                            </div>
                            
                            <div class="row">
                                <div style="float:left">
                                    <label  class="w120">{:lang('website_name')}: </label>
                                    <input type="text"  name="website_name" value="{$data.website_name}" placeholder="" style="width:190px;"  />
                                </div>
        
                                <div style="float:left">
                                    <label class="w120">{:lang('company')}: </label>
                                    <input type="text"  name="company" value="{$data.company}" placeholder="" style="width:158px;"  />
                                </div>
                            </div>
                            <div class="row">
                                <div style="float:left;">
                                    <label for="url" class="w120">{:lang('Url_liceson')}: <span class="required">*</span></label>
                                    <input  id="url" type="text" value="{$data.url}" name="url" style="width:508px;" placeholder="{:lang('Url_liceson_tip')}" />
                                </div>
                            </div>
                            
                            <div class="row">
                                <div style="float:left;">
                                    <label for="start_time" class="w120">{:lang('Time_slot')}: </label>
                                    <input id="start_time" type="text" value="{eq name="ACTION_NAME" value="edit"}{$data.start_time|time_format}{else /}{:time_format()}{/eq}" name="start_time" class="w130c green datainput"/>
                                </div>
                                <div style="overflow:hidden;">
                                    ~~~ &nbsp;
                                    {eq name="ACTION_NAME" value="edit"}
                                        <input id="end_time" value='{eq name=":strtotime($data.end_time)" value="9"}9{else /}{$data.end_time}{/eq}' type="text" name="end_time" class="w130l blue datainput"  />
                                    {else /}
                                        <input id="end_time" value="{:time_format()}" type="text" name="end_time" class="w130l blue datainput" />
                                    {/eq}
                                    
                                    <input class="button white" value="{:lang('Forever')}" type="button" id="forever" onClick="$('#end_time').val(9);" />
                                </div>
                            </div>
                            
                            <div class="row">
                                <div style="float:left;">
                                    <label for="jumptarget" class="w120">{:lang('Jumptarget')}: </label>
                                    <input  id="jumptarget" type="text" value="{$data.jumptarget}" name="jumptarget" style="width:460px;" placeholder="{:lang('Jumptarget_tip')}" />
                                </div>
                            </div>
                            
                            <div class="row">
                                <label for="description" class="w120">{:lang('Description')}: </label>
                                <textarea id="description" name="description">{$data.description}</textarea>
                                <script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-all-min.js"></script>
                                <script>
                                    KindEditor.ready(function(K) {
                                        editor = K.create('#description', {
                                            resizeType : 1,
                                            allowPreviewEmoticons : false,
                                            allowImageUpload : false,
                                            minWidth : 470,
                                            minHeight : 135,
                                            langType : '{:jsup(config('default_lang'))}',
                                            items : [
                                                'source', '|','undo', 'redo', '|','bold', 'italic', 'underline',
                                                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                                'insertunorderedlist', '|', 'image'],
                                            afterBlur: function () { this.sync(); }
                                        });
                                    });
                                </script>
                            </div>
                            
                            <div class="clear"></div>
                            
                            <div class="buttons-wrapper bw-bottom" style="margin:10px auto 2px; text-align:center;">
                                {eq name="ACTION_NAME" value="edit"}
                                    <input name="submit" value="{:lang('Update')}" type="submit" url="{:url('savedata')}" />
                                    <input name="id" type="hidden"  value="{$data.id}" />
                                {else /}
                                    <input name="submit" value="{:lang('Create')}" type="submit" url="{:url('savedata')}" />
                                {/eq}
                                <input name="reset" class="button white" value="{:lang('Cancel')}" type="reset">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {/block}
    
    {block name="js"}
        <script>
            $(function() {
                $(".bset").buttonset();
                $("#start_time").datetimepicker({
                    dateFormat: "{:config('kernel.timeformat')}",
                    minDate: new Date(),
                    onSelect: function(dateText, inst) {
                        $.datepicker.regional["{:config('kernel.localdate')}"];
                        $("#end_time").datepicker("option", "minDate", dateText);
                        $("#end_time").focus();
                    }
                });
                $("#end_time").datetimepicker({
                    dateFormat: "{:config('kernel.timeformat')}",
                    minDate: +1,
                    onSelect: function(dateText, inst) {
                        $.datepicker.regional["{:config('kernel.localdate')}"];
                        $("#start_time").datepicker("option", "maxDate", dateText);
                    }
                });
            })
        </script>
    {/block}
