{extend name="admin@public/poupbase"/}

<!-- CONTENT -->
{block name="body"}
<div id="content" style="margin:0px 10px 5px 8px;">
    <div class="bloc" style="margin:10px 0px 0px;">
        <div class="content">
            <form id="myform" method="post" action="{:url('savedata')}" style="margin-top:5px;" enctype="multipart/form-data">
                <fieldset>
                    <legend>{$meta_title|default=''}</legend>
                    <div class="row">
                        <label for="name" class="w120">{:lang('Account')}: <span class="required">*</span></label>
                        <input id="name" type="text" value="{$data}" name="name" placeholder="{:lang('Account_tip')}" readonly />
                    </div>
                    <div class="row">
                        <label for="password" class="w120">{:lang('Password')}: <span class="required">*</span></label>
                        <input id="password" type="password" value="" name="password" placeholder="{:lang('Password_tip')}" />
                    </div>
                    <div class="row">
                        <label for="repassword" class="w120">{:lang('Repassword')}: <span class="required">*</span></label>
                        <input id="repassword" type="password" value="" name="repassword" placeholder="{:lang('Password_tip')}" />
                    </div>
                    <div class="buttons-wrapper bw-bottom" style="margin:10px auto 2px; text-align:center;">
                        <input type="hidden" name="ids" value="{$ids}">
                        <input name="submit" value="{:lang('Update')}" type="submit" url="{:url('')}">
                        <input name="reset" class="button white" value="{:lang('Cancel')}" type="reset">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{/block}