.booking-icon { background:url('../image/booking.png') 10px 7px no-repeat; text-indent:18px; }
.exc-icon { background:url('../image/exchange.png') 10px 7px no-repeat; text-indent:18px; }
.pieces-icon {background:url('../image/pieces.png') 10px 7px no-repeat; text-indent:18px; }
.reg-icon {background:url('../image/reg.png') 10px 7px no-repeat; text-indent:18px; }
.fu-icon {background:url('../image/fu.png') 10px 6px no-repeat; text-indent:18px; }
