{extend name="admin@public/poupbase"/}

<!-- CONTENT -->
{block name="body"}
<div id="content" style="margin:0px 10px 5px 8px;">
    <div class="bloc" style="margin:10px 0px 0px;">
        <div class="content">
            <form id="myform" method="post" style="margin-top:5px;" class="">
                <fieldset>
                    <legend>{$meta_title|default=''}</legend>
                    
                    <div class="row">
                        <label for="tag" class="w140">{:lang('Level flags')}: <span class="required">*</span></label>
                        <input id="tag" type="text" value="{$data['tag']}" class="input w100l" name="tag"
                               placeholder="{:lang('Agent_tag_tip')}" {eq name="ACTION_NAME" value="edit" }readonly{/eq}
                        />
                    </div>
                    
                    <div class="row">
                        <label for="title" class="w140">{:lang('Agent_title')}: <span class="required">*</span></label>
                        <input id="title" type="text" value="{$data.title}" name="title"
                               placeholder="{:lang('Agent_title_tip')}" />
                    </div>
                    
                    <div class="row" style="margin-left: 20px">
                        <label for="alias" class="w120">{:lang('Agent_alias')}: <span
                            class="required">*</span></label>
                        <input id="alias" type="text" value="{$data.alias}" name="alias" class="input fu onlyletter"
                               placeholder="General"/>
                        <a class="tooltip-icon" title="{:lang('Langstr_alias_tip')}"></a>
                    </div>
    
                    <div class="row" style="margin-left: 20px">
                        <label for="quota" class="w120">{:lang('Quota')}: <span
                            class="required">*</span></label>
                        <input id="quota" type="number" value="{$data.quota|default=0}" name="quota"
                               class="input w80l onlynumber" min="1" />&nbsp;
                        {:lang('Quota_tip')}
                    </div>
    
                    <div class="row" style="margin-left: 20px">
                        <label for="rebate" class="w120">{:lang('Rebate like')}: <span
                            class="required">*</span></label>
                        <input id="rebate" type="number" value="{$data.rebate|default=0}" name="rebate"
                               class="input w50 onlynumber" min="0" placeholder="10" />% &nbsp;&nbsp;
                        {:lang('Rebate like')}
                    </div>
                    
                    <div class="row" style="margin-left: 20px">
                        <label for="discount" class="w120">{:lang('Discount num')}: <span
                            class="required">*</span></label>
                        <input id="discount" type="number" value="{$data.discount|default=0}" name="discount"
                               class="input w50 onlynumber" min="0" placeholder="2" />% &nbsp;&nbsp;
                        {:lang('Discount_tip')}
                    </div>
                    
                    <div class="row">
                        <label for="description" class="w140">{:lang('Agent_description')}: </label>
                        <input id="description" type="text" value="{$data['description']}" name="description"
                               placeholder='' style="width: 160px;"/>
                    </div>
                    <div class="row">
                        <label for="status" class="w140">{:lang('Status')}:</label>
                        <div class="slideBox">
                            {eq name="ACTION_NAME" value="edit"}
                            <input id="status" value="1" type="checkbox" name="status" {eq name="data['status']"
                                   value="1" }checked{/eq} />
                            {else /}
                            <input id="status" value="1" type="checkbox" name="status" checked/>
                            {/eq}
                            <label for="status"></label>
                        </div>
                    </div>
                    
                    <div class="buttons-wrapper bw-bottom" style="margin:10px auto 2px; text-align:center;">
                        {eq name="ACTION_NAME" value="edit"}
                        <input name="submit" value="{:lang('Update')}" type="submit" url="{:url('savedata')}">
                        <input type="hidden" name="id" value="{$data.id}"/>
                        {else /}
                        <input name="submit" value="{:lang('Create')}" type="submit" url="{:url('savedata')}">
                        {/eq}
                        <input name="reset" class="button white" value="{:lang('Cancel')}" type="reset">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<!--<script type="text/javascript" src="__PUBLIC__/admin/js/autosize.js"></script>-->
<script>
    $(function () {
        $(".bset").buttonset();
    })
</script>
{/block}
