body{background: #fff;text-align: center;}
.ok_error_title{font-size: .3rem;padding-top:2.6rem;}
.ok_error_img{display:block;margin:.96rem auto 0;width:4.47rem;height:1.75rem;}
.ok_error_info{display: inline-block;padding:.18rem 0 .81rem;margin-top:.28rem;font-size:.24rem;line-height: 1;border-top:1px dashed #555;}
.ok_error_tip{padding-left:1.4rem;font-size: .3rem;text-align: left;}
.ok_error_jump{padding:.53rem 1.06rem 0;}
.ok_error_jump .weui-flex__item{margin:0 .34rem;padding:.25rem 0;font-size:.3rem;line-height:1;color:#fff;background: #ef4f3e;border-radius:.1rem;}