body{padding-bottom:.98rem;}
.ok_star_box{padding:.45rem .34rem;background: #fff;}
.ok_star_text{padding-right:1rem;font-size: .28rem;color:#adadad;}
.ok_star{display: inline-block;padding:0 .1rem;width:.58rem;height:.38rem;vertical-align:top;background-size: .38rem;background-image: url('../images/my/star_empty.png');background-repeat: no-repeat;background-position: center;}
.ok_star_on{background-image: url('../images/my/star_fill.jpg');}
.ok_eval_box{padding:.37rem .34rem;background: #fff;border-top:1px dashed #cbcbcb;overflow: hidden;}
.ok_eval_val{outline: none;border:none;width: 8rem;padding: 0 1.1rem 0 0;overflow-x: hidden;}
.ok_eval_text{font-size: .28rem;color:#adadad;}
.ok_input_box{overflow: hidden;padding:.87rem 0 .34rem;}
.ok_eval_img{padding:.33rem .34rem;border-top:1px dashed #cbcbcb;background: #fff;}
.ok_img_list{list-style: none;overflow: hidden;float:left;}
.ok_img_wrap,.ok_input_wrap{float:left;width:1rem;height:1rem;margin-right:.2rem;margin-bottom:.2rem;background: #eaeaea;}
.ok_input_wrap{position: relative;}
.ok_upload_img,.ok_take_photo{outline: none;border:none;display:block;width:1rem;height:1rem;opacity:0;}
.ok_take_wrap:before{content:'';position:absolute;top:0;left:0;display: block;width:1rem;height:1rem;background: url('../images/my/take.png') no-repeat center center;background-size: .47rem .39rem;}
.ok_load_wrap:before{content:'';display: block;position:absolute;top:50%;left:50%;margin:-.1rem 0 0 -1px;width:0;height:.2rem;border-right:2px solid #c1c1c1;}
.ok_load_wrap:after{content:'';display: block;position:absolute;top:50%;left:50%;margin:-1px 0 0 -.1rem;width:.2rem;height:0;border-top:2px solid #c1c1c1;}
.ok_tabbar{width:100%;bottom:0;height:.98rem;line-height: .98rem;text-align: center;font-size: .3rem;color:#fff;background: #ef4f3e;}
/*提示框*/
.ok_position{display:none;position: fixed;width:100%;height:100%;top:0;z-index: 999;}
.ok_pop{margin:0 auto;max-width:3rem;position:relative;top:20%;padding: .31rem .15rem;background: #efefef;opacity: .95;filter:alpha(opacity=95);border-radius:.08rem;font-size:.26rem;color:#666;text-align: center;}