body{background: #fff;}
.weui-cells{margin-top:0;}
.weui-cells:before{display: none;}
.weui-cell:before{border-top:1px solid #eaeaea;color:#eaeaea;}
.weui-cell{padding:.40rem .34rem;}
.weui-cell__ft:after{content: " ";display:inline-block;height: .15rem;width: .15rem;border-width: 2px 2px 0 0; border-color: #555;border-style:solid;-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);position: absolute;top: 50%;margin-top: -4px;right: .4rem;}
.ok_help_kind{font-size: .28rem;color:#555;line-height: 1;}
/*help_detail*/
.weui-flex{height:.78rem;line-height: .78rem;border-bottom:1px solid #eaeaea;background: #f4f4f4;}
.weui-flex__item{position:relative;font-size:.3rem;color:#555;text-align: center;}
.ok_on{color:#ef4f3e;}
.ok_on:after{content: '';display:block;position: absolute;bottom: .08rem;left: 50%;margin-left:-.1rem;width: .20rem;height: 0;border-bottom: 2px solid #ef4f3e;}
.ok_article{padding:.5rem .34rem;}
.ok_question{padding-bottom:.25rem;font-size: .32rem;color:#555;line-height: 1;}
.ok_answer{font-size: .28rem;color:#555;word-break: break-all;}
.ok_article section{margin-bottom:.5rem;}