.ok_form{width:100%;height:100%;padding-bottom:.98rem;}
.ok_upload{width:100%;padding:.65rem 0;margin-bottom:.18rem;background: #fff;border-bottom:1px solid #eaeaea;}
.ok_upload_box{position:relative;width:1.5rem;height: 1.5rem;margin:0 auto;background:url('../images/my/photo.png') no-repeat center center;background-size:.76rem .61rem;background-color: #f4f4f4;border-radius: 50%;overflow: hidden;}
.ok_upload_img{display:block;width:1.5rem;height: 1.5rem;opacity: 0;position: relative;z-index: 11;}
.ok_img{position: absolute;top:0;left:0;width:1.5rem;height: 1.5rem;border:none;opacity: 0;}
.weui-cells{margin-top:0;}
.weui-cells,.weui-cells:after{border-bottom: 1px solid #eaeaea;}
.weui-cells:after{margin:0 .3rem;}
.weui-cells:before{display: none;}
.weui-cell{padding:.37rem .3rem .37rem .62rem;font-size: .28rem;line-height: 1;}
.weui-cell:before{left:0;margin:0 .3rem;border-top: 1px solid #eaeaea;color:#eaeaea;}
.weui-cell__hd{width:2.25rem;color:#555;}
.ok_input{display: block;height:.28rem;border:none;font-size:.28rem;color:#adadad;}
.ok_input:focus{border:none;outline: none;}
.ok_input_sex{display: none;}
.ok_sex_label{font-size: .26rem;color: #adadad;}
.weui-icon-circle{font-size: .36rem;color:#e6e6e6;margin-right:.4rem;}
.weui-icon-success{color:#00b700!important;}
.ok_sex_circle{margin-right:.5rem;}
.ok_tabbar{bottom:0;width:100%;}
.ok_cancel,.ok_submit{height:.98rem;line-height:.98rem;text-align: center;border-style: none;}
.ok_cancel{font-size:.3rem;color:#adadad;background: #eaeaea;}
.ok_submit{font-size:.3rem;color:#fff;background: #ef4f3e;}
.weui-picker{font-size: 16px;}
/*提示框*/
.ok_position{display:none;position: fixed;width:100%;height:100%;top:0;z-index: 999;}
.ok_pop{margin:0 auto;max-width:3rem;position:relative;top:20%;padding: .31rem .15rem;background: #efefef;opacity: .95;filter:alpha(opacity=95);border-radius:.08rem;font-size:.26rem;color:#666;text-align: center;}