/*内容*/
.ok_spec_item{background: #fff;text-align: center;line-height: 1;}
.ok_spec_item img{min-height:1rem;}
.ok_spec_info{font-size: .28rem;color:#555;margin-top:.38rem;}
.ok_spec_price{font-size: .3rem;color:#f56050;padding:.2rem 0 .38rem;}

