/*头部*/
.weui-cells{margin:0 0 .2rem;}
.weui-cell{padding:.3rem .34rem;}
.weui-cells:before{display: none;}
.weui-cell:before{left:0;border-top: 1px solid #eaeaea;}
.weui-cells:after{border-bottom: 1px solid #eaeaea;}
.weui-cell__hd{width:1.5rem;height:1.5rem;}
.weui-cell__bd{padding:.4rem 0 0 .32rem;}
.ok_order_info{font-size:.3rem;color:#555;padding:.09rem 0;line-height: 1;}
/*物流信息*/
.ok_track{position:relative;padding:0 .34rem 2rem;background: #fff;}
.ok_track_item{position:relative;margin-left:.34rem;line-height:1;}
.ok_item_info{position:relative;padding:.4rem 0 .26rem;font-size: .28rem;color:#9c9c9c;}
.ok_item_info:before{content: '';z-index:11;display: block;position: absolute;top:.44rem;left:-.34rem;width:.2rem;height:.2rem;background: #ccc;border-radius: 50%;}
.ok_item_date{padding-bottom:.4rem;font-size: .26rem;color:#9c9c9c;}
.ok_track_title{position:relative;padding:.28rem 0;line-height: 1;font-size:.28rem;color:#aaa;border-bottom:1px solid #eaeaea;}
.ok_on{color:#555;}
.ok_on:before{z-index:11;top:.35rem;left:-.4rem;width:.25rem;height:.25rem;background: #ef4f3e;border-radius: 50%;border: .04rem solid #fec6c0;}
.ok_track_item:before{display:block;content: '';position:absolute;top:.5rem;left:-.25rem;width:0;height:1.6rem;border-left:1px solid #cacaca;}
.ok_track_item:after{display:block;content: '';position:absolute;bottom:0;width:6.47rem;height:0;border-bottom:1px dashed #cacaca;}
.ok_track:before{display:block;content: '';position:absolute;bottom:.5rem;left:.43rem;width:0;height:1rem;border-left:1px solid #cacaca;}