    {extend name="public/base"/}

    {block name="body"}
    <div id="content">
        <div class="breadcrumbs">
            {:lang('General')} : &nbsp;&nbsp; {:lang('Application')} &nbsp;/&nbsp; <span>{$meta_title|default=''}</span>
        </div>

    <div class="bloc">
        <div class="title">
            <div class="tabs" id="navs">
                {include file="public/navs" /}
            </div>

            {include file="public/lang" /}
        </div>

        <div class="content">
            <div class="alert alert-info" style="margin-top: -2px;">{:lang('Extend tip')}</div>
                        
            <dl class="gzzt clearfix mtb10">
                <dd>
                    <div class="boxr">
                        {include file="public/button" /}
                    </div>
                </dd>

                <dd>
                    <div class="boxl">
                    	<span>{:lang('Subjection')}：</span>
                        <select id="group" style="height:25px; margin-right:5px; padding-right: 20px;">
                            <option value="0" url="{:url()}">{:lang('Whole_extend')}</option>
                            {volist name="extend" id="op"}
                            <option value="{$op}" url="{:url('', ['group'=>$op])}" {eq name="group" value="$op"}selected{/eq}>
                                {:lang(ucfirst($op))}
                            </option>
                            {/volist}
                        </select>
                    </div>
                    <script>
                        $(function(){
                            $("#group").change(function(){
                                var gotu_url = $(this).find('option:selected').attr('url');
                                eval("self.location='"+gotu_url+"'")
                            })
                        })
                    </script>
                </dd>

                <dd>
                    <div class="boxl fl">
                        <span>{:lang('Count_all')}：<b>{$_total}</b></span>
                        <span class="green">{:lang('Install_all')}：<b>{$_enable}</b></span>
                    </div>
                </dd>

                <dd style="float: right !important;">
                    <div class="boxl">
                        <span>
                            <a href="javascript:location.reload();" class="refresh tooltip-link" title="{:lang('Refresh')}">
                                <em>{:lang('Refresh')}</em>
                            </a>
                        </span>
                    </div>
                </dd>
            </dl>

            {notempty name="list"}
            <table class="table">
            <thead>
                <tr>
                	<!--<th class="center" width="30"><input class="check-all" type="checkbox"></th>-->
        			<th class="left" style="width:35px;">ID</th>
                    <th class="left">{:lang('Name')}</th>
                    <th class="left">{:lang('Identity')}</th>
                    <th class="left">{:lang('Subjection')}</th>
                    <th class="left">{:lang('Description')}</th>
                    <th class="center">{:lang('Author')}</th>
                    <th class="center" style="width:60px;">{:lang('Version')}</th>
                    <th class="center" style="width:80px;">{:lang('Lastver')}</th>
                    <th class="center" style="width:80px;">{:lang('Status')}</th>
                    <th class="center">{:lang('Is_show')}</th>
                    <th class="center" style="width:70px;">{:lang('Sort')}</th>
                    <th class="actions" style="width:100px;">{:lang('Actions')}</th>
                </tr>
            </thead>
            
            <tbody>
            {volist name="list" id="vo"}
            <tr>
            	<!--<td class="center">
                {notempty name="vo.uninstall"}
                <input class="ids" type="checkbox" value="{$vo['id']}" name="ids[]">
                {/notempty}
                </td>-->
        		<td class="left">{$key + 1}</td>
                <td class="left slh tooltip-link" title="{$vo.description}" style="max-width: 120px; line-height: 1.7;">{$vo.name}</td>
                <td class="left">{$vo.code}</td>
                <td class="left">
                    <a href="{:url('',array('group'=>$vo.subjection))}">{$vo.subjection}</a>
                </td>
                <td class="left slh tooltip-link" title="{$vo.description}" style="max-width: 170px; line-height: 1.7;">
                    {$vo.description}
                </td>
                <td class="center">
                    <a target="_blank" href="{$vo.website|default='http://www.runtuer.com'}">
                        {$vo.author}
                    </a>
                </td>
                <td class="center">{$vo.version}</td>
                <td class="center lastver" data-ver="{$vo.version}" {notempty name="vo.upgrade"}data-update="{$vo.upgrade}"{/notempty}>
                    <a class="tooltip-link red ajax-get" data-showbar="1" data-width="480" data-height="320" data-layer="{:lang('Upgrade_e_to', array('cnname'=>$vo.name, 'enname'=>$vo.code, 'lastver'=>''))}" title="{:lang('Upgrade_e_to', array('cnname'=>$vo.name, 'enname'=>$vo.code))}" href="{:url('upgradeto',array('code'=>$vo.code, 'ver'=>'version', 'subjection' => $vo.subjection, 'url'=>'upgradetourl', 'istrue'=>1))}"></a>
                </td>
                
                <td class="center">
                    {if condition="$vo.status eq 1"}
                        <a href="{:url('disable', array('code'=> $vo['code'], 'subjection'=>$vo['subjection']))}" class="ajax-able" data-doing="{:lang('Disable')}">
                            <img src="__PUBLIC__/admin/images/enabled.png" title="{:lang('Enable')}" class="tooltip-link" alt="{:lang('Enable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                        </a>
                    {else /}
                        {if condition="$vo.uninstall eq 1"}
                            <a href="{:url('enable', array('code'=> $vo['code'], 'subjection'=>$vo['subjection']))}" class="ajax-able" data-doing="{:lang('Enable')}">
                                <img src="__PUBLIC__/admin/images/disabled.png" title="{:lang('Disable')}" class="tooltip-link" alt="{:lang('Disable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                            </a>
                        {else /}
                    	<img src="__PUBLIC__/admin/images/notinstall.png" title="{:lang('Notinstall')}" class="tooltip-link" alt="{:lang('Notinstall')}" height="16px" />
                    	{/if}
                    {/if}
                </td>
    
                <td class="center">
                    {if condition="$vo.isshow eq 1"}
                        <a href="{:url('disable', array('code'=> $vo['code'], 'subjection'=>$vo['subjection']))}" class="ajax-able" data-doing="{:lang('Disable')}">
                            <img src="__PUBLIC__/admin/images/enabled.png" title="{:lang('Enable')}" class="tooltip-link" alt="{:lang('Enable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                        </a>
                    {else /}
                        {if condition="$vo.uninstall eq 1"}
                            <a href="{:url('enable', array('isshow'=> 1, 'code'=> $vo['code'], 'subjection'=>$vo['subjection']))}" class="ajax-able" data-doing="{:lang('Enable')}">
                                <img src="__PUBLIC__/admin/images/disabled.png" title="{:lang('Disable')}" class="tooltip-link" alt="{:lang('Disable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                            </a>
                        {else /}
                            <img src="__PUBLIC__/admin/images/notinstall.png" title="{:lang('Notinstall')}" class="tooltip-link" alt="{:lang('Notinstall')}" height="16px" />
                        {/if}
                    {/if}
                </td>
    
                <td class="center">
                    {notempty name="vo.id"}
                    <input name="sorts[{$vo.id}]" type="text" size="1" value="{$vo.sort}" class="center sorts">
                    {/notempty}
                </td>

                <td class="actions">
                    {notempty name="vo.uninstall"}
                        {if condition="($vo.status egt 0) AND ($vo.allow_uninstall eq 1)"}
                        	
                            {eq name="$vo.status" value="1"}
                                <a class="ajax-get btn_submit green" href="{:url('config', array('code'=> $vo['code'], 'subjection'=>$vo['subjection'], 'group'=>input('group')))}" data-layer="{:lang('Setting')} ：{$vo.name} " data-showbar=1 data-title="{$vo.name} {:lang('Setting')}" data-width="740" data-height="500">
                                    {:lang('Setting')}
                                </a>
                            {/eq}
                        {/if}

                        {if condition="$vo.allow_uninstall eq 1"}
                        <a class="tooltip-link ajax-get confirm warning btn_submit red" title="{:lang('Uninstall', array('name'=>$vo.name))}" href="{:url('uninstall',array('code'=> $vo['code'], 'subjection'=>$vo['subjection']))}" data-layer="{:lang('Uninstallext', array('subjection' => lang($vo.subjection), 'name' => $vo.name, 'code' => $vo.code))}" data-title="{:lang('Uninstall', array('name'=>$vo.name))}">
                            {:lang('Uninstall', array('name'=>''))}
                        </a>
                        {/if}
                    {else /}
                        <a class="tooltip-link ajax-get confirm btn_submit" title="{:lang('Install')}" href="{:url('install', array('code'=> $vo['code'], 'subjection'=>$vo['subjection']))}" data-layer="{:lang('Install')} ：{$vo.name}({$vo.code}) ?" data-title="{:lang('Install')} ：{$vo.name}">
                            {:lang('Install')}
                        </a>
                    {/notempty}
                </td>
            </tr>
            {/volist}
            </tbody>
            </table>
            <div class="pagination-wrapper">

            </div>
            {else /}
               <div class="alert alert-warning">{:lang('No_record')}</div>
            {/notempty}
        </div>

    </div>
    </div>
    <script>
        $(function(){
            $('.lastver').each(function(){
                var that = $(this);
                var url = that.attr('data-update');
                var oldver = that.attr('data-ver');
                var upgrade = that.find('a').attr('data-upgrade');
                var layer_title = that.find('a').attr('data-layer');
                var href = that.find('a').attr('href');
                if(url != undefined){
                    $.ajax({
                        type:"get",
                        async:true,
                        url:url,/*url写异域的请求地址*/
                        data:{'tempPara': Math.random()},
                        dataType:"jsonp",/*加上datatype*/
                        cache: false,
                        time:3000,
                        success:function(data){
                            if(data.status == 1){
                                if(oldver == data.ver){
                                    that.html(data.ver);
                                }else{
                                    that.find('a').attr({
                                        'href': href.replace('upgradetourl', data.upgrade).replace('version', data.ver),
                                        'data-layer': layer_title + data.ver,
                                        'data-upgrade':data.upgrade,
                                        'data-title':layer_title + data.ver,
                                    });
                                    that.find('a').html(data.ver);
                                }
                            }else{
                                that.html('{:lang("Ver_err")}');
                            }
                        },
                        error:function(){
                            that.html('{:lang("Ver_err")}');
                        }
                    });
                }else{
                    that.empty();
                }
            })
        })
    </script>
    {/block}