/*容器*/
.ok_view{background-color: #f1f1f4;margin-bottom: -20px;}
/*导航*/
.ok_nav_item{margin-bottom: 12px;background-color: #fff;border-bottom: 1px solid #d8d8d8;}
.ok_nav{display: block;padding: 5px;width: 30.3%;text-align: center;color: #999999;font-size: 12px;}
.ok_nav:before{display: block;margin: 0 auto 0.5rem auto;content: '';height: 41px;width: 41px;background: url('/ui/mobile/v0/img/public/newsprites.png') no-repeat;background-size: 150px 150px;}
.nav_item2:before{background-position: -42px 0;}
.nav_item3:before{background-position:0 -43px;}
.nav_item4:before{background-position: -84px 0;}
.nav_item5:before{background: url('/ui/mobile/v0/img/public/homeIconSprites.png') no-repeat 0 0;background-size: 40px 81px;}
.nav_item6:before{background-position: -42.5px -43.5px;}
.nav_item7:before{background-position: -85px -43px;}
.nav_item8:before{background: url('/ui/mobile/v0/img/public/homeIconSprites.png') no-repeat left bottom;background-size: 40px 81px;}

/*楼层*/
.ok_floor{margin-bottom: 1.2rem;background-color: #fff;border-top: 1px solid #d8d8d8;border-bottom: 1px solid #d8d8d8;}
.ok_floor a,.ok_floor img{display: block;}

.ok_floor_nav{padding: 0 2%;height: 4rem;line-height: 4rem;border-bottom: 1px solid #e2e2e2;font-size: 2rem;color: #000;}
.ok_floor_nav span:before{content:"";display: inline-block;float: left;margin-right: 0.8rem;height: 1.7rem;width: 0.2rem;background-color: #e10808;-webkit-transform: rotate(15deg) translate(0.5rem, 1rem);transform: rotate(15deg) translate(0.5rem, 1rem);}
.ok_floor_nav span{padding: 0 2%;height: 4rem;line-height: 4rem;border-bottom: 1px solid #e2e2e2;font-size: 2rem;color: #000;}
.ok_floor_nav a{float: right;color: #858585;font-size: 1.4rem;}
.ok_floor_nav a:after{content:"";display: inline-block;margin-left: 0.3rem;width: 1rem;height: 2rem;background: url('/ui/mobile/v0/img/public/newsprites.png') no-repeat right -2rem;background-size: 20rem;-webkit-transform: translateY(0.45rem);transform: translateY(0.45rem);}

.ok_floor_pro{display: block;padding: 2%;width: 21%;margin-left: -1px;border-right: 1px solid #e2e2e2;overflow: hidden;}
.ok_floor_pro:last-child,.clear-border{border:none!important;}
.ok_floor_pro p{margin-top: 0.5rem;height: 1.6rem;line-height: 1.6rem;text-align: center;color: #000;font-size: 1.2rem;word-break: break-all;overflow: hidden;}
.ok_floor_pro p:last-child{margin: 0;color: #e10808;}

.ok_floor_list{padding: 0 2%;margin-bottom: 1rem;}
.ok_list_li{position: relative;margin:0 1%;padding:1%;margin-top: 1rem;width: 48%;border: 1px solid #e2e2e2;}
.ok_list_tag{position: absolute;left: 0;top: 0;width: 30px;height: 30px;line-height: 15px;text-align: center;font-size: 1.2rem;color: #fff;background-color: #3aade9;}
.ok_list_tag:after{position:absolute;content: '';bottom:-8px;left:0;width:0;height:0;border-top:8px solid #3aade9;border-right:15px solid transparent;border-left:15px solid transparent;}
.ok_list_img{padding:2%;text-align: center;border-bottom: 1px dashed #c2cfdc;}
.ok_list_name{position: relative;padding: 2% 0;}
.ok_list_name,.ok_list_info,.ok_list_price{overflow: hidden;height:24px;}
.ok_list_info{font-size: 1rem;color: #e10808;}
.ok_list_bottom{position:relative;margin-top: 1.2rem;}
.ok_list_price{margin-top: 1.2rem;padding-left: 2rem;}
.ok_list_price:before{content:"";display: block;position: absolute;left: 0;bottom: .7rem;width: 19px;height: 16px;background: url('/ui/mobile/v0/img/public/newsprites.png') no-repeat right top;background-size: 240px;}
.ok_list_btn{position: absolute;right: 0;bottom: 0.3rem;display: block;float: right;width: 6.2rem;height: 3rem;line-height: 3.1rem;text-align: center;background-color: #e10808;font-size: 1.2rem;color: #fff;}
.ok_list_btn b{margin-right: 0.3rem;font-size: 1.6rem;}
.ok_list_btn:before{position: absolute;content: '';top:0;left:-.5rem;border-right:.5rem solid #e10808;border-top:1.5rem solid transparent;border-bottom:1.5rem solid transparent;}

/*头部动画*/
.slider-wrapper{position:relative;min-height:10.0em;overflow: hidden;}
.slider-wrapper ul,.slider-wrapper li,.slider-wrapper img{position:absolute;top:0;left:0;width:100%;height:100%;}
.slider-wrapper img{border:none;}
.slider-wrapper .dot{z-index:4;position: absolute;left:0;bottom:1.0em;width:100%;text-align: center;}
.slider-wrapper .dot span{display: inline-block;width: 0.8rem;height: 0.8rem;margin-left: 0.5rem;background: rgba(0, 0, 0, 0.2);  border-radius: 100%;}
.slider-wrapper .dot span.cur{background-color: #fff;}