.queue-icon { background:url('../image/queue.png') 5px 1px no-repeat; text-indent:18px; }
.admin-icon { background:url('../image/admin.png') 10px 7px no-repeat; text-indent:18px; }
.api-icon { background:url('../image/api.png') 10px 7px no-repeat; text-indent:18px; }