<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/msg.css" />
		<title>RuntuerCMF Error</title>
	</head>

	<body class="msg_txt">
		<div id="container">
			<h1>Error</h1>
			<div class="box"><span class="code"><b class="f14">{:lang('info_msg_01')}</b><font>
            <p><b><?php echo($error); ?></b></p>
            </font></span></div>
			<div class="box"><span class="code"><b class="f14">{:lang('info_msg_02')}</b><font>
            <p>'.lang('info_msg_03').'</p>
            <p><a href="http://bbs.runtuer.com/" target="help">{:lang('info_msg_04')}</a></p>
            <p><a href="<?php echo($jumpUrl); ?>">{:lang('info_msg_05')}</a></p>
            <b id="wait"><?php echo($waitSecond); ?></b> 秒后页面将自动重载！ {:lang('info_msg_07')}</font></span></div>
		</div>
		<script type="text/javascript">
			(function() {
			            var wait = document.getElementById('wait');
			            var interval = setInterval(function() {
			                var time = --wait.innerHTML;
			                if (time <= 0) {
			                    clearInterval(interval);
								location.reload();
			                };
			            }, 1000);
			            window.stop = function() {
			                clearInterval(interval);
			            }
			        })();
		</script>
	</body>

</html>