    {extend name="admin@public/base"/}

    {block name="body"}
    <div id="content">
        <div class="breadcrumbs">
            {:lang('Crossbbcr')} : <span>{$meta_title|default=''}</span>
        </div>

    <div class="bloc">
        <div class="title">
            <div class="tabs" id="navs">
                {include file="admin@public/navs" /}
            </div>

            {include file="admin@public/lang" /}
        </div>

        <div class="content">
                
                <dl class="gzzt clearfix mtb10">
                <dd>
                    <div class="boxr">
                        {include file="admin@public/button" /}
                    </div>
                </dd>

                <dd>
                    <div class="boxl fl">
                        <span>{:lang('Count_all')}：<b>{$_total}</b></span>
                    </div>
                </dd>
                    <dd style="float: right !important;">
                        <div class="boxl">
                            <span>
                                <a href="javascript:location.reload();" class="refresh tooltip-link" title="{:lang('Refresh')}">
                                    <em>{:lang('Refresh')}</em>
                                </a>
                            </span>
                            <span>
                                <a href="javascript:void(0);" class="ajax-get setting tooltip-link colum" title="{:lang('Showlum')}" data-title="{:lang('Showlum')}">
                                    <em>{:lang('Showlum')}</em>
                                </a>
                            </span>
                        </div>
                    </dd>
            </dl>

            {notempty name="list"}
            <table class="table">
            <thead>
                <tr>
        			<th class="center" width="10">&nbsp;</th>
                    <th class="left" colspan="2" style="width:120px;">
                        {:lang('Icon')}&nbsp;&nbsp;{:lang('Tag')}
                    </th>
                    <th class="left">{:lang('Name')}</th>
                    <th class="left">{:lang('Description')}</th>
                    <th class="center">{:lang('Author')}</th>
                    <th class="center" style="width:80px;">{:lang('Version')}</th>
                    <th class="center" style="width:80px;">{:lang('Status')}</th>
                    <th class="actions" style="width:140px;">{:lang('Actions')}</th>
                </tr>
            </thead>
                    
                    <tbody>
            {volist name="list" id="vo"}
            <tr>
        		<td class="center">&nbsp;</td>
                <td class="left" width="36px">
                    <img src="{$vo.image}" alt="{:lang('Icon')}" style="height:18px;margin-top:1px;" />
                </td>
                <td class="left">{$vo.name}</td>
                <td class="left">
                    {$vo.title}
                    {notempty name="vo.depends"}
                        <a class="tooltip-icon" title="{:lang('depends')} <br />{$vo.depends}"></a>
                    {/notempty}
				</td>
                <td class="left" style="max-width: 280px; line-height: 1.7;">{$vo.description}</td>
                <td class="center"><a target="_blank" href="{$vo.website|default='http://www.runtuer.com'}">{$vo.author}</a></td>
                <td class="center">{$vo.version}</td>
                <td class="center">
                	{if condition="$vo.status eq 1"}
                        <a href="{:url('disable',array('name'=>$vo.name))}" class="ajax-able" data-doing="{:lang('Disable')}">
                                    <img src="__PUBLIC__/admin/images/enabled.png" title="{:lang('Enable')}" class="tooltip-link" alt="{:lang('Enable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                                    </a>
                    {else /}
                        {if condition="$vo.uninstall eq 1"}
                        <a href="{:url('enable',array('name'=>$vo.name))}" class="ajax-able" data-doing="{:lang('Enable')}">
                                    <img src="__PUBLIC__/admin/images/disabled.png" title="{:lang('Disable')}" class="tooltip-link" alt="{:lang('Disable')}" height="16px" data-enabled="__PUBLIC__/admin/images/enabled.png" data-disabled="__PUBLIC__/admin/images/disabled.png" />
                                    </a>
                        {else /}
                        <img src="__PUBLIC__/admin/images/notinstall.png" title="{:lang('Notinstall')}" class="tooltip-link" alt="{:lang('Notinstall')}" height="16px" />
                        {/if}
                    {/if}
                </td>
                <td class="actions">
                    {notempty name="vo.uninstall"}
                        {if condition="($vo.status egt 0) AND ($vo.allow_uninstall eq 1)"}
                            {eq name="$vo.status" value="0"}
                            <a class="ajax-get confirm btn_submit" href="{:url('enable',array('name'=>$vo['name']))}"  data-layer="{:lang('Enable')} ：{$vo.title}({$vo.name}) ?" data-title="{:lang('Enable')} ：{$vo.title}">{:lang('Enable')}</a>
                            {else /}
                            <a class="ajax-get confirm btn_submit orange" href="{:url('disable',array('name'=>$vo['name']))}" data-layer="{:lang('Disable')} ：{$vo.title}({$vo.name}) ?" data-title="{:lang('Disable')} ：{$vo.title}">{:lang('Disable')}</a>
                            {/eq}
                        {/if}

                        {if condition="$vo.allow_uninstall eq 1"}
                        <a class="tooltip-link ajax-get confirm btn_submit" title="{:lang('Uninstall')}" href="{:url('uninstall?name='.$vo['name'])}" data-layer="{:lang('Uninstall')} ：{$vo.title}({$vo.name}) ?" data-title="{:lang('Uninstall')} ：{$vo.title}">
                            {:lang('Uninstall')}
                        </a>
                        {/if}
                    {else /}
                        <a class="tooltip-link ajax-get confirm btn_submit" title="{:lang('Install')}" href="{:url('install?name='.$vo['name'])}" data-layer="{:lang('Install')} ：{$vo.title}({$vo.name}) ?" data-title="{:lang('Install')} ：{$vo.title}">
                            {:lang('Install')}
                        </a>
                    {/notempty}
                </td>
            </tr>
            {/volist}
            </tbody>
            </table>
            <div class="pagination-wrapper">

            </div>
            {else /}
               <div class="alert alert-warning">{:lang('No_record')}</div>
            {/notempty}
        </div>

    </div>
    </div>
    {/block}