    {extend name="public/poupbase"/}
    
    <!-- CONTENT -->
    {block name="body"}
        <div id="content" style="margin:0px 10px 5px 8px;">
            <div class="bloc" style="margin:10px 0px 0px;">
                <div class="content">
                    <form id="myform" method="post" style="margin-top:5px;" class="">
                        <fieldset>
                            <legend>{$meta_title|default=''}</legend>
                            <div class="row">
                                <label for="name" class="w120">{:lang('Hooks_name')}: </label>
                                <input  id="name" type="text" value="{$data.name}" name="name" style="width:300px;" placeholder="{:lang('Hooks_name_tip')}" />
                                <a class="tooltip-icon" title="{:lang('Hooks_name_tip')}"></a>
                            </div>
                            
                            <div class="row bset">
                                <label class="w120">{:lang('Hooks_type')}:</label>
                                <input name="type" type="radio" value="1" id="type_1" {eq name="data.type" value="1"}checked{/eq} {eq name="ACTION_NAME" value="addhook"}checked{/eq} />
                                <label for="type_1" class="w110_r_0">{:lang('View')}</label>
                                <input name="type" type="radio" value="2" id="type_2" {eq name="data.type" value="2"}checked{/eq} />
                                <label for="type_2" class="w110_r_0">{:lang('Controller')}</label>
                            </div>
                            
                            <div class="row">
                                <label for="description" class="w120">{:lang('Description')}: </label>
                                <textarea id="description" name="description" style="width:310px; height:45px;resize: none;">{$data.description}</textarea>
                            </div>
                            
                            <div class="row">
                                <label for="status" class="w120">{:lang('Status')}:</label>
                                <div class="slideBox">
                                    {eq name="ACTION_NAME" value="edit"}
                                        <input id="status" value="1" type="checkbox" name="status"  {eq name="data['status']" value="1"}checked{/eq}/>
                                    {else /}
                                        <input id="status" value="1" type="checkbox" name="status" checked />
                                    {/eq}
                                    <label for="status"></label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <label for="keywords" class="w120">{:lang('Hook_sort')}: </label>
                                <label style="width:400px;">{:lang('Hook_sort_tip')}</label>
                            </div>
                            
                            <div class="buttons-wrapper bw-bottom" style="margin:10px auto 2px; text-align:center;">
                                {eq name="ACTION_NAME" value="edit"}
                                    <input name="submit" value="{:lang('Update')}" type="submit" url="{:url()}">
                                    <input type="hidden" name="id" value="{$data.id}" />
                                {else /}
                                    <input name="submit" value="{:lang('Create')}" type="submit" url="{:url()}">
                                {/eq}
                                <input name="reset" class="button white" value="{:lang('Cancel')}" type="reset">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {/block}
    
    {block name="js"}
        <script>
            $(function(){
                $(".bset").buttonset();
            })
        </script>
    {/block}
