/*底部*/
.ok_tabbar__see{background-position: 1px -193px;}
.ok_tabbar__play{background-position: 1px -204px;}
/*内容*/
.ok_ban_title{padding:.51rem 0 .4rem;text-align: center;}
.ok_title_first{width:30%;margin:0 auto;position:relative;padding-bottom:.12rem;font-size: .32rem;line-height:0.32rem;color:#ef4f3e;}
.ok_title_first:before,.ok_title_first:after{content:'';display:block;width:.24rem;height:0;margin:0 .24rem;position:absolute;top:.17rem;border-top:.01rem solid #ef4f3e;}
.ok_title_first:before{left:-.24rem;}
.ok_title_first:after{right:-.24rem;}
.ok_title_sec{font-size: .18rem;line-height: .18rem;}
.ok_ban_content{background: #fff;}
.ok_ban_info{padding:.6rem .1rem;text-align: center;line-height: .3rem;font-size: .3rem;color:#555;}
.ok_reco_title{height:1.42rem;padding:.42rem .3rem;background-color: #fff;}
.ok_rec_tag{padding-right:.14rem;}
.ok_rec_tag img{display: block;width:.58rem;height:.58rem;border-radius: 50%;overflow: hidden;}
.ok_play_job,.ok_play_name{display:inline-block;font-size: .32rem;line-height:.58rem;color:#999;}
.ok_play_job{white-space:nowrap;text-overflow:ellipsis;overflow: hidden;max-width: 1.5rem;}
.ok_play_name{position: relative;padding-left:.25rem;max-width: 2.4rem;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;vertical-align: top;}
.ok_play_name:after{content: '';position:absolute;top:50%;margin-top:-.12rem;left:.09rem;display: block;width:0;height:.24rem;border-right:1px solid #999;}
.ok_rec_add{width:.98rem;height:.48rem;margin-top:.05rem;background: url('../images/comeplay/add.jpg') no-repeat;background-size: .98rem .48rem;}
.ok_reco_info{padding:.6rem .3rem .32rem;line-height: 1;background-color: #fff;}
.ok_reco_name{font-size: .3rem;color:#555;}
.ok_reco_date{padding-top:.2rem;font-size:.18rem;color:#888;}
.ok_recommend{margin-bottom:.3rem;border-bottom: .01rem solid #eaeaea;}