/*头部信息*/
.ok_confirm_head{padding:.41rem 0;text-align: center;line-height: 1;}
.ok_con_info{padding:.11rem 0;}
.weui-icon-success-circle{font-size:.3rem;color:#01c12d;}
/*评价集合*/
.weui-cells{margin-top:0;}
.weui-cell{padding:.28rem .3rem .28rem .56rem;}
.weui-cell:before{left:.3rem;border-top: 1px solid #eaeaea;}
.weui-cell__bd{padding-left:.26rem;}
.ok_order_name{height:.69rem;line-height: 1.2;font-size:.3rem;color:#555;overflow: hidden;word-break: break-all;}
.weui-cell__hd{width:1.2rem;height:1.2rem;}
.ok_order_price{color:#f56050;font-size: .28rem;}
.ok_list_left{float: left;width:3.7rem;font-size: .28rem;color:#555;line-height: 1;}
.ok_name{display:inline-block;width:2.4rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.ok_goods_version{display: inline-block;width:1rem;padding-left:.4rem;overflow: hidden;}
.ok_list_right{display:block;float:right;margin-top:.42rem;width:1.3rem;height:.5rem;line-height:.48rem;text-align:center;font-size: .24rem;color:#ef4f3e;border:1px solid #ef4f3e;border-radius:.06rem; }
.ok_has_comment{color:#cacaca;border:1px solid #cacaca;}
.ok_goods_price{padding-top:.4rem;}