body{padding-bottom:.98rem;}
.ok_eval_box{margin:.3rem;background: #fff;overflow: hidden;}
.ok_eval_val{outline: none;border:none;width: 8rem;height:4.7rem;padding: 0 1.3rem 0 .23rem;overflow-x: hidden;}
.ok_eval_text,.ok_input{padding:.23rem 0 .2rem .22rem;font-size: .28rem;color:#adadad;line-height: 1;}
.ok_tabbar{width:100%;bottom:0;height:.98rem;line-height: .98rem;text-align: center;font-size: .3rem;color:#fff;background: #ef4f3e;}
.ok_input{display: block;width:100%;height:1rem;outline: none;border:none;color:#555;}
