/*头部*/
.ok_order_header{height:.78rem;line-height: .78rem;margin-bottom:.16rem;padding:0 .3rem;font-size: .28rem;color:#555;background: #fff;border-bottom: 1px solid #eaeaea;}
.weui-flex__item{text-align: center;}
.ok_all{padding-right:.64rem;}
.ok_evaluate{padding-left:.64rem;}
.ok_on{color:#ef4f3e;}
.ok_on:after{content: '';display:block;margin:0 auto;position:relative;bottom:.16rem;width:.20rem;height: 0;border-bottom:2px solid #ef4f3e;}

.weui-cells{margin-top:0;margin-bottom:.2rem;}
.weui-cells:before,.weui-cells:after,.weui-cell:before,.ok_hide{display: none;}
/*标题*/
.ok_title{height:.7rem;line-height: .7rem;border-bottom: 1px dashed #c8c8c8;}
.ok_order_date,.ok_order_kind{font-size:.28rem;color:#555;}
.ok_order_kind{text-align: right;}
/*内容*/
.ok_content{padding:.28rem .3rem;border-bottom: 1px dashed #c8c8c8;}
.ok_content .weui-cell__bd{font-size: .28rem;}
.ok_order_name{height:.69rem;line-height: 1.2;color:#555;overflow: hidden;word-break: break-all;}
.ok_content .weui-cell__hd{width:1.2rem;height:1.2rem;}
.ok_order_price{color:#555;}
.ok_gift_num{float:right;line-height: .36rem;color:#555;}
.ok_gift_num i{font-style: normal;font-size: .36rem;}
/*底部*/
.ok_bottom{height:1.02rem;line-height: 1.02rem;}
.ok_order_total{font-size: .26rem;color:#555;}
.ok_order_total span{padding-left:.3rem;}
.ok_bottom .weui-cell__bd{text-align: right;}
.ok_order_option{display: inline-block;width:1.3rem;height: .64rem;margin:.18rem 0 .18rem .2rem;text-align:center;line-height:.62rem;font-size:.24rem;color:#666;border:1px solid #b4b4b4;border-radius: .07rem;}
.ok_option_on{color:#ef4f3e;border: 1px solid #f05b4b;}