/*头部播放*/
body{padding-bottom: .88rem;}
.ok_article_item{text-align: left;}
.ok_article_img{position: relative;}
.ok_articel_title,.ok_articel_bottom{font-size: .32rem;font-weight:500;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ok_articel_info{padding:.3rem .3rem .1rem;margin-bottom:.2rem;line-height:1;background-color:#fff;border-bottom:1px solid #eaeaea;}
.ok_border_r{display: inline-block;margin:0 .1rem;vertical-align:middle;width:0;border-right:2px solid #818181;}
.ok_articel_date{text-align: right;color:#999;font-size:.2rem;}
.ok_articel_degree{font-size:.22rem;color:#666;line-height: 1;padding-top:.12rem;}
.ok_play{position:absolute;top:0;left:0;width:100%;height:100%;}
.ok_play_img{display: block;position:relative;top:50%;width:1.2rem;height:1.2rem;margin:-.6rem auto 0;}
/*推荐商品*/
.ok_order_title{padding-left:.3rem;height:.9rem;line-height:.9rem;font-size:.28rem;background: #fff;}
.weui-cells{margin-top:0;}
.weui-cells:before{border-top:1px solid #eaeaea;}
.weui-cells:after{border-bottom: 1px solid #eaeaea;}
.ok_order_content{margin-bottom:.2rem;}
.ok_order_content .weui-cell{padding:.24rem 0 0 .47rem;height:1.55rem;}
.ok_order_content .weui-cell__hd{width:1.10rem;height:1.10rem;margin-right:.9rem;}
.ok_order_content .weui-cell__bd{padding-right:.3rem;}
.weui-cell:before{left:0;border-top: 1px solid #eaeaea;}
.ok_order_info{float:left;width:3rem;overflow:hidden;font-size: .3rem;color:#666;}
.ok_order_price{height:1.1rem;line-height: 1.1rem;float:right;display: block;text-align:right;width:1.5rem;font-size: .28rem;color:#555;}
.ok_product_name{display: inline-block;vertical-align:bottom;width:2rem;white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
.ok_order_version{padding-top:.1rem;}
.ok_order_name i{font-style: normal;font-size: .24rem;padding-left:.2rem;}
/*评论*/
.ok_comment{background: #fff;}
.ok_comment_item{padding:.38rem .3rem .34rem;font-size: .28rem;color:#444;border-bottom:1px solid #eaeaea;}
.ok_item_top{height:.68rem;}
.ok_item_portrait{display:inline-block;width:.68rem;height:.68rem;border-radius: 50%;}
.ok_item_name{padding-left:.22rem;line-height: .68rem;}
.ok_item_date span{line-height: .68rem;}
.ok_item_date span:first-child{padding-right:.28rem;}
.ok_item_bottom{padding:.18rem 0 0 .18rem;}
.ok_item_content{line-height: .44rem;}
/*分享*/
.ok_share{padding-top:.5rem;margin-bottom:.2rem;text-align: center;}
.ok_share_btn{display: block;margin:0 auto .08rem;width:6rem;height:.8rem;line-height: .8rem;font-size: .34rem;color:#f4f4f4;background: #e74c3c;border-radius:.06rem;}
.ok_share_info{font-size: .22rem;color:#555;line-height: 1;padding-top:.22rem;}
.ok_share_img{width:100%;margin-top:.5rem;}
/*底部*/
.ok_tabbar{bottom:0;width:100%;height:.88rem;padding:.24rem 1rem;background: #fff;}
.ok_play_collect,.ok_play_info,.ok_play_share{display:block;width:.4rem;height:.4rem;}
.ok_tabbar .weui-flex__item{position: relative;}
.ok_play_info{margin:0 auto;}
.ok_play_share{float: right;}
.ok_info_num{display:block;position:absolute;top:0;left:50%;margin-left:.26rem;color:#555;font-size:.24rem;border-radius: 50%;text-align: center;}

/*文章详情*/
.ok_article_head{margin-bottom:.2rem;text-align: center;background: #fff;}
.ok_article_head .ok_articel_title{padding:.4rem 0;}
.ok_article_head .ok_articel_info{margin-bottom:0;}
.ok_article_head .ok_item_content{padding:.3rem .5rem;text-align:left;font-size: .28rem;color: #444;}
.ok_articel_bottom{padding:.4rem 0 .2rem;}
.ok_article_price{padding-bottom:.4rem;font-size: .28rem;color:#f56050;line-height: 1;}