{extend name="admin@public/poupbase" /}
{block name="body"}
<style>
    .cont{
        display: block;
        margin-top: 6px;
        float: left;
        line-height: 17px;
        width: 77px;
    }
    .row{
        height: 50px;
    }
</style>
<div id="content" style="margin:0px 10px 5px 8px;">
    <div class="bloc">
        <div class="content">
            <div style="display:block; /*height: 420px;*/">
                <div class="extbody">
                    <form id="myform" method="post" style="margin-top:5px;" class="">
                        <fieldset>
                            <legend>{:lang('Appeal Detail')}</legend>
                            <div class="row">
                                <label for="logo" class="w100">{:lang('Appeals')}:</label>
                                <span class="cont">{$data.user_name}</span>
                                <label for="logo" class="w100">{:lang('Appeal_time')}: </label>
                                <span class="cont" style="width: 115px">{$data.create_time}</span>
                            </div>
                            <div class="row">
                                <label for="logo" class="w100">{:lang('Appeal_status')}:</label>
                                {switch name='data.status'}
                                {case value='1'}<span class="blue cont">{:lang('Waitting_check')}</span>{/case}
                                {case value='2'}<span class="green cont">{:lang('Pass')}</span>{/case}
                                {case value='3'}<span class="red cont">{:lang('check_reject')}</span>{/case}
                                {case value='4'}<span class="default cont">{:lang('cancel')}</span>{/case}
                                {/switch}
                                <label for="logo" class="w100">{:lang('operator')}: </label>
                                <span class="cont">{$data.operator}</span>
                            </div>
                            <div class="row">
                                <label for="logo" class="w100">{:lang('Appeal_reason')}:</label>
                                <span style="margin-top: 5px;line-height: 24px;">{$data.reason}</span>
                            </div>
                            <div class="row">
                                <label for="logo" class="w100">{:lang('Answer')}</label>

                                <textarea type="text" name="handling_content">{notempty name='data.handling_content'}{$data.handling_content}{/notempty}</textarea>
                            </div>
                            <div class="row bset" style="padding-left: 21% ;margin-top: 5%" >
                                <input name="status" type="radio" value="2" id="morelogin_1" checked />
                                <label for="morelogin_1" class="w105_r_0">{:lang('Pass')}</label>
                                <input name="status" type="radio" value="3" id="morelogin_0"  />
                                <label for="morelogin_0" class="w105_r_0">{:lang('check_reject')}</label>
                            </div>

                            <div class="buttons-wrapper bw-bottom" style="margin:20px auto 2px; text-align:center;">
                                <input type="hidden" name="id" value="{$data.id}" />
                                {empty name='data.handling_content'}<input name="submit" value="保存" type="submit"  url="{:url('savedata')}" />{/empty}
                                <input name="reset" class="button white" value="取消" type="reset">
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".bset").buttonset();
    });
</script>
{/block}