{extend name="admin@public/base" /}
{block name='css'}
<style type="text/css">
    #content .ibox li{
        min-height: 76px;!important;
    }
</style>
{/block}

<!-- CONTENT -->
{block name="body"}
<div id="content">
    <div class="breadcrumbs">
        {:lang('Statistics')} : &nbsp;&nbsp; {:lang('storeStatistics')} &nbsp;/&nbsp; <span>{$meta_title|default=''}</span>
    </div>
    
    <div class="bloc">
        <div class="title">
            <div class="tabs" id="navs">
                {include file="admin@public/navs" /}
            </div>
            
            {include file="admin@public/lang" /}
        </div>
        <div class="content">
            
            <dl class="gzzt clearfix mtb10">
                <dd>
                    <div class="boxr">
                        {include file="admin@public/button" /}
                    </div>
                </dd>
                
                <dd>
                    <div class="boxr ovh">
                        <select id="status" style="height:25px; width:100px; margin-right:4px;">
                            <option value="" url="{:url('',array('ranks'=>10))}" {eq name="$ranks" value="10"}selected{/eq}>排行前10名</option>
                            <option value="" url="{:url('',array('ranks'=>50))}" {eq name="$ranks" value="50"}selected{/eq}>排行前50名</option>
                            <option value="" url="{:url('',array('ranks'=>100))}" {eq name="$ranks" value="100"}selected{/eq}>排行前100名</option>
                        </select>
                        
                        <script>
                            $(function () {
                                $("#status").change(function () {
                                    var gotu_url = $(this).find('option:selected').attr('url');
                                    eval("self.location='" + gotu_url + "'")
                                })
                            })
                        </script>
                    </div>
                </dd>
                
                <form style="margin-top:0;" class="search-form">
                    <dd>
                        <div class="boxr ovh">
                            <label for="start" style="margin:10px 10px 0 0; width:156px;">
                                <input type="text" id="start" value="{:input('start_time')}" name="start_time"
                                       placeholder="{:lang('Begin_time')}" class="w130 input_img"/>
                            </label>
                            <label style="width:10px;line-height:32px; margin-right:2px;">~</label>
                            <label for="end" style="margin:10px 10px 0 0; width:150px;">
                                <input type="text" id="end" value="{:input('end_time')}" name="end_time"
                                       placeholder="{:lang('End_time')}" class="w130 input_img"/>
                            </label>
                        </div>
                    <dd>
                    
                    <dd>
                        <div class="boxr ovh">
                            <input type="button" name="search" id="sch-search" class="button white"
                                   value="{:lang('Search')}" url="{:url('', input('name'))}"/>
                        </div>
                    <dd>
                    
                    <dd style="float: right !important;">
                        <div class="boxl">
                                <span>
                                    <a href="javascript:location.reload();" class="refresh tooltip-link"
                                       title="{:lang('Refresh')}">
                                            <em>{:lang('Refresh')}</em>
                                    </a>
                                </span>
                            <span>
                                    <a href="javascript:void(0);" class="ajax-get setting tooltip-link colum"
                                       title="{:lang('Showlum')}" data-title="{:lang('Showlum')}">
                                        <em>{:lang('Showlum')}</em>
                                    </a>
                                </span>
                        </div>
                    </dd>
                </form>
            </dl>
        
        
        </div>
    </div>
    <div class="bloc" id="blocStatistics">
        <!--<div class="title collapsible">-->
        <div class="title">
            <div class="tabs static" id="blockStatistics">
                <a id="tabStat1_link" href="#tabStat1">店铺销量排行</a>
                <a id="tabStat2_link" href="#tabStat2">店铺销售额排行</a>
            </div>
        </div>
        <div class="content">
            <div id="tabStat1" style="display:block;">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 100px" class="center">排名</th>
                        <th>店铺名称</th>
                        <th class="center">订单销量</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $num_rank as $k=>$v}
                    <tr>
                        <td style="width: 100px" class="center">{$k+1}</td>
                        <td>{$store_list[$v.seller_id]}</td>
                        <td class="center">{$v.num}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div id="tabStat2" style="display:block;">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 100px" class="center">排名</th>
                        <th>店铺名称</th>
                        <th class="center">订单销售额</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $money_rank as $k=>$v}
                    <tr>
                        <td style="width: 100px" class="center">{$k+1}</td>
                        <td>{$store_list[$v.seller_id]}</td>
                        <td class="center">{:round($v.money,2)}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{include file="admin@public/time_for_search" /}

{/block}

{block name='js'}


{/block}