{extend name="admin@public/poupbase" /}

<!-- CONTENT -->
{block name="body"}
<div id="content" style="margin:0px 10px 5px 8px;">
    <div class="bloc" style="margin:10px 0px 0px;">
        <div class="content">
            <form id="myform" method="post" style="margin-top:5px;" class="">
                <fieldset>
                    <legend>{$meta_title|default=''}</legend>
                    <div class="thumb_box">
                        <div class="thumb">
                            <div class="upimg_tip">{:lang('Thumb')}</div>
                            <div class="upimg_cancel" title="{:lang('Cancel')}">x</div>
                            <img
                                src="{notempty name='data.preview_img'}{$data.preview_img}{else /}__PUBLIC__/admin/images/upload-pic.gif{/notempty}"
                                id="preview" class="upload" width="110" height="100"
                                no-image="__PUBLIC__/admin/images/upload-pic.gif" title="{:lang('Upload img and file')}"
                                url="{:url('img',array('m' => $controller_name,'input' => 'catimage','thumb' => 'preview'))}" data-upload="__UPLOADS__" />
                            <input type="hidden" name="preview_img" id="preview_img" value="{$data.preview_img}"/>
                        </div>
                    </div>
    
                    <div class="row">
                        <label for="type_id" class="w100">{:lang('Widget type')}: <span
                            class="required">*</span></label>
                        <select id="type_id"  style="width:130px;margin-right: 16px;" name="type_id">
                            <option value="0" {eq name="data.type_id" value="0" }selected{/eq}>--{:lang('Please_choose')}--</option>
                            {volist name="typelist" id="vo"}
                            <option  value="{$vo.id}" {eq name="vo.id" value="$data.type_id"}selected{/eq}>{$vo.name}</option>
                            {/volist}
                        </select>
                        <a class="tooltip-link ajax-get edit" title="{:lang('Add type')}"
                           data-title="{:lang('Add type')}" href="{:url('add_type')}" data-height="230" data-showbar="1">
                            <img src="__PUBLIC__/admin/images/edit.png" alt="{:lang('Edit')}"/>
                        </a>
                    </div>
                    <div class="row">
                        
                            <label for="name" class="w100">{:lang('Widget name')} :<span
                                class="required">*</span> </label>
                            <input id="name" type="text" value="{$data.name}" name="name"
                                   style="width:180px;"/>
                            <a class="tooltip-icon" title="{:lang('Widget name')}"></a>
                        
                    </div>
                    
                    <div class="row">
                        
                            <label for="file_name" class="w100">{:lang('Widget file name')}:<span
                                class="required">*</span></label>
                            <input id="title" type="text" value="{$data.file_name}" class="onlyletter to_" name="file_name" style="width:180px;"/>
                        <a class="tooltip-icon" title="{:lang('File name tip')}"></a>
                    </div>
                    <div class="row">
                        <label for="remark" class="w100">{:lang('Remark')}:</label>
                        <textarea name="remark" id="remark" style="width:250px; height:35px;resize: none;">{$data.remark}</textarea>
                    </div>
                    
                    
                    <div class="row">
                        
                        <div style="float: left">
                            <label for="status" class="w100">{:lang('Status')}:</label>
                            <div class="slideBox">
                                {eq name="ACTION_NAME" value="edit"}
                                <input id="status" value="1" type="checkbox" name="status" {eq name="data['status']"
                                       value="1" }checked{/eq} />
                                {else /}
                                <input id="status" value="1" type="checkbox" name="status" checked/>
                                {/eq}
                                <label for="status"></label>
                            </div>
                        </div>
                        <div style="float:left;">
                            <label for="sort" class="w120">{:lang('Sort')}: </label>
                            <input type="number" class="input litle" name="sort" maxlength="5" id="sort"
                                   value='{$data.sort|default=0}'/>
                        </div>
                    
                    </div>
                </fieldset>
                <div class="buttons-wrapper bw-bottom" style="margin:10px auto 2px; text-align:center;">
                    {eq name="$action_name" value="edit"}
                    <input name="submit" value="{:lang('Update')}" type="submit" url="{:url('savedata')}"/>
                    <input name="id" type="hidden" value="{$data.id}"/>
                    {else /}
                    <input name="submit" value="{:lang('Create')}" type="submit" url="{:url('savedata')}"/>
                    {/eq}
                    <input name="reset" class="button white" value="{:lang('Cancel')}" type="reset">
                </div>
            </form>
        </div>
    </div>
</div>
{/block}